<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime useFullyQualifiedRedirectUrl="true" maxRequestLength="20408" requestLengthDiskThreshold="20408" targetFramework="4.5" executionTimeout="240" ></httpRuntime>
    <sessionState mode="InProc" cookieless="false" timeout="40000"></sessionState>
  </system.web>
  <connectionStrings>
    <add name="TheThinkerz_WTPSharePointEntities" connectionString="metadata=res://*/WarringtonModel.csdl|res://*/WarringtonModel.ssdl|res://*/WarringtonModel.msl;provider=System.Data.SqlClient;provider connection string='data source=sharedmssql5.znetindia.net,1234;initial catalog=TheThinkerz_WTPSharePoint;persist security info=True;user id=wtpsharepoint;password=Wtpsharepoint@123;MultipleActiveResultSets=True;App=EntityFramework;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>